*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#one {
    width: 100%;
    height: 100vh;
}
.hero_area {
    position: relative;
    background-color: #78853f;
    height: 85vh;
  }
  
  .sub_page .hero_area {
    height: auto;
  }
  
  .hero_area.sub_pages {
    height: auto;
  }
  
  .header_section {
    background-color: #90953b;
  }
  
  .header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }
  
  .header_section .nav_container {
    margin: 0 auto;
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 30px;
    color: #fefdfc;
    text-align: center;
    text-transform: uppercase;
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    position: relative;
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link::after {
    content: "";
    position: absolute;
    width: 65%;
    left: 50%;
    height: 2.5px;
    background-color: #ffff00;
    bottom: 8px;
    margin: 0 auto;
    display: block;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: initial;
  }
  
  .btn,
  .btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .custom_nav-container .nav_search-btn {
    background-image: url(../images/search-icon.png);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position-y: 7px;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
  }
  
  .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  
  .navbar-brand span {
    font-size: 24px;
    font-weight: 700;
    color: #fefdfc;
    margin-left: 10px;
    text-transform: uppercase;
  }
  
  .custom_nav-container {
    z-index: 99999;
    padding: 5px 0;
  }
  
  .custom_nav-container .navbar-toggler {
    outline: none;
  }
  
  .custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-image: url(images/menu.png);
    background-size: 30px;
  }
.carousel-indicators li{
    position: absolute;
    right: 0;
    bottom: -89px;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 0rem;
    margin-left: 15%;
    list-style: none;
}
/* slider */

.slides {
    background-image: url(images/slider-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    height: 86vh;
    margin-top: 50px;
}
.carousel-item h2{
    color: yellow;    
    font-size: 30px;
    margin-left: 30px;
    margin-top: 10%;
    font-weight: 400;
}
.carousel-item h1 {
    color: white;
    font-weight: bold;
    margin-left: 30px;
    font-size: 3.2rem;
}
.carousel-item p {
    color: white;
    margin-left: 30px;
    width: 50%;
}
.programs h1{
    margin-top: 116px;
}
.programs p {
    font-weight: 400;
}
.line {
    margin-top: 80px;
}
.logo {
    margin-top: 15px;
    width: 250px;
    height: 100px;
    background-color: rgb(207, 207, 207);
}
.logo:hover {
    background-color: #78853f;
}
.logo img {
    width: 50px;
    height: 50px;
    margin-top: 25px;
}
.letter {
    margin-left: 30px;
    margin-top: 10px;
}
.abt {
    margin-top: 50px;
}
.btns .box1 {
    margin-left: 30px;
}
.btns .box2 {
    margin-left: 30px;
}
.subscribe button {
    margin-top: -70px; 
    border-radius: 50px; 
    margin-left: 71%;
}
#two{
    position: relative;
    margin-top: 1px;
}



@media (max-width:500px) and (min-width:300px) {
    .carousel-item h2 {
        font-size: 20px;
        text-align: center;
    }
    .carousel-item h1 {
        font-size: 25px;
        text-align: center;
    }
    .carousel-item p{
        width: 90%;
        text-align: center;
    }
    .line {
        display: flex;
        flex-direction: column;
    }
    .logo {
        margin-top: 15px;
        width: 100px;
        height: 100px;
        background-color: rgb(207, 207, 207);
        margin-left: 40%;
    }
    .letter {
        text-align: center;
    }
   .about_us {
    text-align: center;
   }
   .about_us p {
    margin-left: 10%;
   }
   .my-slide img{
       width: 150px;
       height: 150px;
       margin-left: 0%;
   }
   .carousel-indicators li{
    position: absolute;
    right: 0;
    bottom: -69px;
    background-color: 1px solid black;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 0rem;
    margin-left: 15%;
    list-style: none;
}
    .btns .box1 {
        margin-left: 80%;
    }
   .btns .box2 {
      margin-top: 10px;
      margin-left: 80%;
   }
   .subscribe button {
    margin-top: -70px; 
    border-radius: 50px; 
    margin-left: 60%;
}
#two {
    margin-top: 100px;
    margin-left: 5px;
}
#four button{
    display: none;
   }
   
#five .map-responsive {
  position: relative;
  padding: 20px;
}

#five  .five-con {

    text-align: center;
    align-items:center ;
    padding-inline-start: 0px;
    padding-inline-end: 23px;
    position: relative;
   
}

}
